@import "../../variables.scss";

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 20px;
  overflow: hidden;
}

.card__media {
  border-radius: 25px;
  animation: fadeIn 8s;
}

.card:hover .card__media {
  transform: scale(0.85) rotate(0.7deg);
}

.grid{
    background-color: $grid_color;
    padding-bottom: 5px;
}

.grid__top{
    padding-bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  &__title {
    color: $secondary_color;
    font-family: "Catamaran", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    padding: 0px;
    font-family: $title_font;
  }

  &__description{
      color: $description_color;
  }
}

h1 {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: $primary_color;
  text-shadow: -1px -1px rgb(80, 83, 80), 1px 1px rgb(211, 157, 157),
    -3px 0 4px #000;
  font-weight: 400;
  text-align: center;
  -moz-box-shadow: 2px 2px 6px rgb(175, 175, 175);
  -webkit-box-shadow: 2px 2px 6px rgb(226, 224, 224);
  box-shadow: 2px 2px 6px #888;
  background-color: $grid_color;
}

.card__description{
    font-family: $font;
}
