.navigation {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

@media(min-width: 900px) {
  .navigation {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
}


.navigation-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black !important;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

@media(min-width: 900px) {
  .navigation-item {
    margin-left: 40px;
  }
}