.header {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media(min-width: 900px) {
  .header {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.header-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media(min-width: 900px) {
  .header-top {
    height: 80px;
  }
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(min-width: 900px) {
  .header-top__logo {
    margin-right: 20px;
  }
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-family: RobotoThin;
  font-size: 100px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media(min-width: 900px) {
  .header-top__navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
  }
}