@import "../../variables.scss";

footer {
    display: grid;
    grid-template-columns: 1fr;
    position: relative; 
    padding: 60px 15px 0;
    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        background: $primary_color;
        z-index: -1;
    }
    @media(min-width: 979px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "contact logo address"
                             "social social social"
                             "copyrights copyrights copyrights";
        grid-gap: 30px;
        .footer {
            &__logo {
                grid-area: logo;
            }
            &__contact {
                grid-area: contact;
            }
            &__address {
                grid-area: address;
            }
            &__social {
                grid-area: social;
            }
        }
        .copyrights {
            grid-area: copyrights;
        }
    }
}

.footer {
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary_color;
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            object-position: 50% 50%;
            mix-blend-mode: multiply;      
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            line-height: 30px;
            color: $secondary_color;
            svg {
                margin-right: 10px;
                font-size: 20px;
            }
            @media(min-width: 979px) {
                transition: all 0.3s ease-in;
                &:hover {
                    color: $text_color;
                }
            }
        }
    }
    &__address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $secondary_color;
        span {
            line-height: 24px;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        a {
            margin: 10px;
            font-size: 36px;
            line-height: 36px;
            color: $secondary_color;
            @media(min-width: 979px) {
                transform: translateY(0);
                transition: all 0.3s;
                &:hover {
                    transform: translateY(-5px);
                    color: $text_color;
                }
            }
        } 
    }
}

.copyrights {
    margin: 0 -15px;
    padding: 15px 0;
    color: $text_reverse;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -50vw;
        background: $secondary_color;
        z-index: -1;
    }

}