// Colors
$primary_color: #F43C34;
$secondary_color:#AC0709;
$background_color: #f5f0f6;
$text_color: #222;
$text_reverse: #f5f0f6;
$description_color: #888;
$background_dark: #000;

// Fonts
$font: 'Lato', sans-serif;
$title_font: 'Times New Roman', Times, serif;
$heading: 'Lobster', cursive;
